@model webbanhang.Models.SanPham

@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Sửa sản phẩm @Model.TenSanPham</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-danger" href="/admin">Dashboard</a></li>
            <li class="breadcrumb-item"><a class="text-danger" asp-action="Index">Sản phẩm</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sửa sản phẩm @Model.TenSanPham</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="SanPhamID" />
                <div class="form-group">
                    <label asp-for="DanhMucID" class="control-label"></label>
                    <select asp-for="DanhMucID" class="form-control" asp-items="ViewBag.DanhMucID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ThuongHieuID" class="control-label"></label>
                    <select asp-for="ThuongHieuID" class="form-control" asp-items="ViewBag.ThuongHieuID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="TenSanPham" class="control-label"></label>
                    <input asp-for="TenSanPham" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="HinhAnh" class="control-label"></label>
                    <input type="file" name="file" asp-for="HinhAnh" class="form-control" />
                    <input type="hidden" asp-for="HinhAnh" />
                </div>
                <div class="form-group">
                    <label asp-for="DonGia" class="control-label"></label>
                    <input asp-for="DonGia" id="dg" class="form-control" oninput="tinh();" />
                </div>
                <div class="form-group">
                    <label asp-for="Sale" class="control-label"></label>
                    <input asp-for="Sale" id="Sale" class="form-control" oninput="tinh();" />
                </div>
                <div class="form-group">
                    <label asp-for="ThanhTien" class="control-label"></label>
                    <input asp-for="ThanhTien" id="ThanhTien" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="SoLuong" class="control-label"></label>
                    <input asp-for="SoLuong" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

    <script>
        function tinh() {
            var donGia = document.getElementById("dg").value;
            var giamGia = document.getElementById("sale").value;
            document.getElementById("ThanhTien").value = donGia - (donGia * (giamGia / 100));
        }
    </script>