<div class="row my-5">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="border shadow-lg rounded">
            <div class="fw-bold fs-3 text-center pt-3">
                <span style="color: #fc544b;">THÔNG BÁO</span>
            </div>
            <div class="p-5">
                <div class="text-center">
                    <div class="mb-3">
                        <span class="fs-1">
                            <i class="fa-solid fa-face-smile"></i>
                        </span>
                    </div>
                    <span class="fs-2 fw-bold text-uppercase">Bạn đã đặt hàng thành công, vui lòng quay lại trang chủ</span>
                    <div class="my-3">
                        <a class="btn btn-danger fs-5 px-3 py-2" href="/">Về trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>