<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand bg-gradient-danger d-flex align-items-center justify-content-center" href="/admin">
        <div class="sidebar-brand-icon">
            <img src="img/logo/logo2.png">
        </div>
        <div class="sidebar-brand-text mx-3">RuangAdmin</div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
        <a class="nav-link" href="/admin">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Features
    </div>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"
           aria-expanded="true" aria-controls="collapseBootstrap">
            <i class="far fa-fw fa-window-maximize"></i>
            <span>Quản lý</span>
        </a>
        <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-controller="Banners" asp-action="Index">Quản lý Banner</a>
                <a class="collapse-item" asp-controller="DanhMucs" asp-action="Index">Quản lý danh mục</a>
                <a class="collapse-item" asp-controller="ThuongHieus" asp-action="Index">Quản lý thương hiệu</a>
                <a class="collapse-item" asp-controller="NhaCungCaps" asp-action="Index">Quản lý nhà cung cấp</a>
                <a class="collapse-item" asp-controller="DonViTinhs" asp-action="Index">Quản lý đơn vị tính</a>
                <a class="collapse-item" asp-controller="SanPhams" asp-action="Index">Quản lý sản phẩm</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="DonViTinhs" asp-action="Index">
            <i class="fas fa-fw fa-palette"></i>
            <span>Đơn đặt hàng</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTable" aria-expanded="true"
           aria-controls="collapseTable">
            <i class="fas fa-fw fa-table"></i>
            <span>Hệ thống</span>
        </a>
        <div id="collapseTable" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-controller="QuyenHans" asp-action="Index">Quyền hạn</a>
                <a class="collapse-item" asp-controller="TaiKhoans" asp-action="Index">Tài khoản</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="BaoCaos" asp-action="Index">
            <i class="fas fa-fw fa-palette"></i>
            <span>Báo cáo thống kê</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <div class="version" id="version-ruangadmin"></div>
</ul>