<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>
                copyright &copy; - Công ty CP Công trình Viettel
            </span>
        </div>
    </div>

</footer>